<template name="game">
  	
  			{{#if completed}}
  			
  			<li>
		    	{{teams.[0].name}} final score:{{teams.[0].score}}
		    	vs
		    	{{teams.[1].name}} final score:{{teams.[1].score}}
		</li>
    		{{else}}
        	<br>
  		
      <li>
	    	{{teams.[0].name}} score:{{teams.[0].score}}
	    	<a class="editScore" href="#">Edit score</a>
	    	<a class="gameover" href="#">Game Completed</a>
    	</li>
    	<!-- {{log this._id teams}}
    	{{log teams.[0].score}}
    	{{log teams.[1].score}} -->

    	vs
      <li>
	    	{{teams.[1].name}} score:{{teams.[1].score}}
	    	<!-- {{log this._id}} -->
	    	
	    	<a class="editScore" href="#">Edit score</a>
	    	<a class="gameover" href="#">Game Completed</a>
    	</li>
    {{/if}}

</template>

<!--
teams: [
        {name: team1.name, _id: team1._id, score: 0},
        {name: team2.name, _id: team2._id, score: 0}
      ]
-->