<template name="games">
  	<h3>Games</h3>
  	{{#if isCreatingGame}}
    	<form class="create-game">
      	<select name="teamOne">
        	{{#each teams}}
          		<option value="{{_id}}">{{name}}</option>
			{{/each}}
		</select>
		vs
     	<select name="teamTwo">
        	{{#each teams}}
          		<option value="{{_id}}">{{name}}</option>
        	{{/each}}
		</select>
      	<button type="submit">Submit</button>
      	<a class="cancel" href="#">Cancel</a>
    	</form>
  	{{else}}
    	<a class="create" href="#">Create</a>
	{{/if}}

	<ul>
    	{{#each games}}
  
        <li>{{> game}}<a class="delete" href="#" >(x)</a></li><a class="gameover" href="#">Game Completed</a>
    
    	{{/each}}
   	</ul>
  	
</template>